<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <base href="public/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fontes-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <!--Bootstrap & Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Icones-->
        <link rel="shortcut icon" type="imagex/png" href="settings/images/Logo_FM.PNG">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=mail" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=report" />
    <!--CSS & JS-->
        <script src="settings/js/scrypt_carrossel.js"></script>
        <link rel="stylesheet" href="settings/css/style.css">
    <!--Carrossel-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <title>FR Semijóias</title>
</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Fale Conosco</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Instagram</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <span class="material-symbols-outlined">mail</span>
                    <span class="material-symbols-outlined">report</span>
                </div>
            </div>
        </nav>
        <div id="logo">
            <div id="header-left">
                <div class="conteiner">
                    <input id="cx-pesquisa" type="text" placeholder="Busca">
                    <button id="btn-pesquisa">Procurar</button>
                </div>
            </div>
            <h1 id="logotipo" class="festive-regular"><a href="../inicio">FOIIIIIIIII!</a></h1>
            <div id="header-rigth">
                <!--icone do carrinho e do perfil/user-->
            </div>
        </div>
        <div id="header-footer" class="center">
            <button>Início</button>
            <button>Anéis</button>
            <button>Brincos</button>
            <button>Braceletes</button>
            <button>Colares</button>
            <button>Pingentes</button>
        </div>
    </header>
    <section id="produto">
        <div id="produto-text">
            <span>Loja 100% segura</span>
            <span>Contato direto com o vendedor</span>
            <span>Envio rapido</span>
            <span>Garantia de 3 meses</span>
        </div>
        <div class="center">
            <!--title-->
            <h3>Destaque</h3>
        </div>
        <div class="disply">

            <!--mostruario com carroçel-->
            <div class="">
                <div class="">
                    <ul class="">
                        <li class="">
                            Item 1
                        </li>
                        <li class="">
                            Item 2
                        </li>
                        <li class="">
                            Item 3
                        </li>
                        <li class="">
                            Item 4
                        </li>
                        <li class="">
                            Item 5
                        </li>
                        <li class="">
                            Item 6
                        </li>
                        <li class="">
                            Item 7
                        </li>
                        <li class="">
                            Item 8
                        </li>
                        <li class="">
                            Item 9
                        </li>
                        <li class="">
                            Item 10
                        </li>

                    </ul>
                </div>
            </div>

        </div>

    </section>
    <script src="settings/js/scrypt_carrossel.js"></script>
</body>
</html>




    <!--
        <section id="login" class="conteiner-center">

        --Lado_Esquerdo--
        <div id="left-login" class="center">
            <h1>Login</h1>
            <hr>
            <div class="icon">
                --Colocar Incone do Instagram--
                <span>#</span>
            </div>
            <input type="text" placeholder="E-Mail" id="email_login"><br>
            <input type="password" placeholder="Senha" id="senha_login"><br>
            <button id="logar" class="button">Logar</button>
        </div>

        -- Lado Direito--
        <div id="right-login" class="center">
            <h2>Primeira vez por aqui?</h2><br><br>
            <h6>Para que possa continuar conectado conosco, clique no botão abaixo e cadastre-se no nosso site.</h6>
            <button class="buttons pagina">cadastrar-se</button>
        </div>
    </section>

    <section id="cadastro" class="conteiner-center">

        -- Lado Esquerdo--
        <div id="left-cadastro" class="center">
            <h1>cadastro</h1>
            <hr>
            <div class="icon">
                --Colocar Incone do Instagram--
                <span>#</span>
            </div>
            <input type="text" placeholder="Nome" id="nome_cadastro"><br>
            <input type="text" placeholder="E-Mail" id="email_cadastro"><br>
            <input type="password" placeholder="Senha" id="senha_cadastro"><br>
            <input type="password" placeholder="Confirmar Senha" id="confirmarsenha_cadastro"><br>
            <button id="cadastrar" class="button">cadastrar</button>
        </div>

        -- Lado Direito--
        <div id="right-cadastro" class="center">
            <h2>Já possui um cadastro?</h2><br><br>
            <h6>Se sim, clique no botão abaixo para se redirecionar para a tela de login e entrar na sua conta.</h6>
            <button class="buttons pagina">logar-se</button>
        </div>

    </section>
    -->