/* CORES PADROES*/

/*Modo Claro*/
:root {
        --primary-color   : #585858;
        --secondary-color : #be9052; /*aqua ou dourado*/
        --contrast-color  : #7A7A7A;
        --text-color      : #FFF;
        --black-color     : #252525;
}

/*Light Mode*/
@media(prefers-color-scheme: light){
    :root {
            --primary-color   : #e3e3e3;
            --secondary-color : #be9052; /*aqua ou dourado*/
            --contrast-color  : #c6c6c6;
            --text-color      : #767575;
            --black-color     : #000000;
    }
}
/* START */

/* CSS Reset*/
* {
    margin         : 0;
	padding        : 0;
	border         : 0;
	font-size      : 100%;
	font           : inherit;
	vertical-align : baseline;
}

/* NORMAL Teg */
body {
    background-color : var(--primary-color);
}

nav {
    background-color : var(--secondary-color);
}

img {
    max-width:350px;
    max-height:350px;
}

/*classe*/
.festive-regular {
  font-family : "Festive", cursive;
  font-weight : 400;
  font-style  : normal;
}

.conteiner {
    border      : solid var(--contrast-color) 1px;
    align-items : center;
    text-align  : center;
}

.center {
    align-items : center;
    text-align  : center;
}

/*Id*/
#logo {
    background-color : var(--black-color);
    color            : var(--text-color);
    position         : relative;
    padding          : 50px 10px 100px 10px;
    min-height       : 110px;
}

#header-left {
    float : left;
}

#btn-pesquisa {
    background-color : var(--secondary-color);
    color            : var(--black-color);
    border           : solid var(--contrast-color) 1px;
    border-left      : none;
    padding          : 0 2px;
}

#cx-pesquisa {
    background-color : var(--black-color);
    color            : var(--text-color);
    margin-bottom    : auto;
    outline          : none;
}

#logotipo {
    color       : var(--secondary-color);
    position    : absolute ;
    left        : 50%;
    margin-left : -55px;
}

#header-rigth {
    float : right;
}

#header-footer {
    border-top       : solid var(--contrast-color) 1px;
    background-color : var(--black-color);
    padding          : 20px ;
    align-items      : center;
    text-align       : center;
    display          : flex;
}

#header-footer button {
    width            : 100%;
    justify-content  : space-between;
    background-color : var(--black-color);
    color            : var(--text-color);
}

#header-footer button:hover {
    transition       : 0.3s;
    background-color : var(--black-color);
    color            : var(--secondary-color);
}

#produto {
    color : var(--text-color);
}

#produto-text {
    margin           : 5% 0;
    padding          : 20px ;
    align-items      : center;
    text-align       : center;
    display          : flex;
}

#produto-text span {
    width            : 100%;
    justify-content  : space-between;
    color            : var(--text-color);
}

/*carrossel*/
